<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWBE Envanter</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/datatables.min.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>

    <style>
    .table thead th {
        background-color: #0d6efd;;
        color: white;
    }

    .buttons-colvis {
        background: #0d6efd !important;
    }
    
    .buttons-collection {
        background: #0d6efd !important;
        
    }
    </style>
</head>

<body class="bg-light">
    

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('deneme'  )}}">Home</a>
            </li>
        </ul>
        <ul class="navbar ms-auto me-5">
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
          </ul>
        </div>
    </nav>
    
    
    <div class="container-fluid pb-5 pe-5 ps-5">
            <table id="example" class="mt-auto table table-striped table-bordered compact">
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        
    </div>

    <script>
        $(document).ready(function() { 
            const table = new DataTable('#example', {
            // We can use columnDefs for applying styling to columns
            // columnDefs: [
            //     {
            //         targets: "_all",
            //         className: 'dt-right'
            //     }
            // ],
            // columnDefs: [{ width: 200, targets: "_all" }],
            // fixedColumns: true,
            dom: 'Brfltip',
            
            buttons: {
                buttons: [
            {
                extend: 'colvis', 
                className: 'rounded-3'
            },
            {
                extend: 'collection',
                text: 'Export',
                buttons: ['copy', 'excel', 'csv', 'pdf', 'print'],
                className: 'ms-3 rounded-3'
                
            }
            ]

            },
            
            scrollX: true,
            responsive:true
        });        
        })
        
        
    </script>



</body>

</html>