<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('deneme')}}">Chart</a>
          </li>
    </ul>
    <ul class="navbar ms-auto me-5">
        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
      </ul>
    </div>
</nav>